# Default ignored files
/shelf/
/workspace.xml
/venv/
# Datasource local storage ignored files
/../../../:\python-TA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
